@import './variables.less';

.chats__container {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.chatsList {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 310px;
    border-right: solid 1px @borderColor;
}

.currentChat {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileLink {
    text-align: end;

    &>a {
        text-decoration: none;
        font-size: 12px;
        font-weight: 500;
        line-height: 12px;
        letter-spacing: 0em;
        color: @userValueColor;
    }
}

.search {
    height: 32px;
    left: 10px;
    top: 56px;
    background: #EFEFEF;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    padding: 0;
    color: @userValueColor;
    border: none;
}

.chat__avatar {
    height: 47px;
    width: 47px;
}

.chatsList__item {
    background-color: @lightBlue;
    flex-direction: row;
    justify-content: center;
    display: flex;
    border-radius: 5px;
    margin: 3px;
}

.chat__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
}

.chat__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: @userValueColor;
}

.clip {
    width: 32px;
    height: 32px;
}

.message {
    height: 32px;
    left: 0px;
    flex: 1;
    top: 56px;
    background: #EFEFEF;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    padding: 0;
    color: @userValueColor;
    width: fit-content;
    margin: 15px;
    padding: 10px;
}

.companion__avatar {
    width: 34px;
    height: 34px;
}

.currentChat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__header {
        width: calc(100% - 10px);
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 2px solid @borderColor;

        &>p {
            flex: 1;
        }
    }

    &__message {
        padding: 5px;
        margin: 10px;
        width: fit-content;
        color: @blackText;
        background-color: @grayBackground;
        border-radius: 0 10px 10px 10px;

        &.me {
            background-color: @lightBlue;
        }
    }

    &__main-date {
        margin: 0 auto;
    }

    &__main {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &_messages {
            max-width: 350px;
        }
    }

    &__sendMessage {
        width: 100%;
        display: flex;
        border-top: 1px solid @borderColor;
        align-items: center;
    }
}

.send__button {
    background-image: url(@forwardArrow);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    border: none;
}

.newChat__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: @newChatBackground;
    border-radius: 5px;
}