@import './userSettings.less';

.options__item {
    width: 510px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: @footerNoteColor;
    left: 0;
    padding: 10px;
    border-bottom: solid 1px @borderColor;
}

.options__exit {
    width: 510px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    color: @exitNoteColor;
    left: 0;
    margin: 10px;
}
.settings__container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.back__button{
    background-image: url(@backArrow);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border: none;
}
.settings__main{
    flex-grow: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}