    <div class="modal">
        <div class="modalContent">
            <p class="user__title">Загрузите файл</p>
            <input id="uploadAvatarImage" type="file" ></input>
            {{{changeButton}}}
        </div>
    </div>