<div class="currentChat__header">

</div>
<div class="currentChat__main">

</div>
<div class="currentChat__sendMessage">
    <img src={{clip__img}} alt="Отправить файл" class="clip">
    {{{input}}}
    {{{button}}}
</div>