<div class="container">
    <div class="error__title">{{error.title}}</div>
    <div class="error__description"> {{error.description}}</div>

    <div class="footerNote"><a href="{{footerNote.url}}">{{footerNote.text}}</a></div>
</div>